<header class="navbar bg-base-100 justify-center">
	<div class="w-[1200px] justify-between">

		<div class=" ">
			<a class="btn btn-ghost normal-case text-xl">
				<img src="{{ asset("/assets/images/logo.png") }}" alt="" class="w-[75px]">
			</a>
		</div>

		<ul tabindex="0" class="menu menu-sm z-[1] p-2 shadow bg-base-100 rounded-box flex flex-row gap-2">
			<li>

				<a href="{{ path("app.home") }}" class="{{ app.request.attributes.get('_route') == "app.home" ? "active py-2" : "py-2" }}">Accueil</a>
			</li>
			<li>
				<a href="{{ path("app.home", {"_fragment": "tricks"}) }}" class="py-2">Tricks</a>
			</li>

			{% if not app.user %}
				<li>
					<a href="{{ path("app.login") }}" class="{{ app.request.get('_route') == 'app.login' ? 'active py-2' :"py-2" }}">Connexion</a>
				</li>
				<li>
					<a href="{{ path("app.register") }}" class="{{ app.request.get('_route') == 'app.register' ? 'active py-2' :"py-2" }}">Inscription</a>
				</li>

			{% endif %}


		</ul>

		{% if app.user %}

			<div class="flex-none">
				<div class="dropdown dropdown-end">
					<label tabindex="0" class="btn btn-ghost btn-circle avatar">
						<div class="w-10 rounded-full">
							{% if app.user.profileImage %}
								<img src="{{ asset("upload/profile/" ~ app.user.profileImage) }}"/>
							{% else %}
								<img src="{{ asset("/assets/images/default-profile.jpg") }}"/>
							{% endif %}
						</div>
					</label>
					<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

						{% if is_granted("ROLE_ADMIN") %}
							<li>
								<a href="{{ path("app.dashboard") }}" class="py-2">Dashboard</a>
							</li>
						{% endif %}
						{% if app.user %}
							<li>
								<a href="{{ path("app.tricks_create") }}" class="py-2">Créer mon trick</a>
							</li>
							<li>
								<a href="{{ path("app.show_profile", {id: app.user.id}) }}" class="py-2">Mon profil</a>
							</li>
							<li>
								<a href="{{ path("app.logout") }}" class="py-2">Déconnexion</a>
							</li>
						{% endif %}

					</ul>
				</div>
			</div>
		{% endif %}

	</div>
</header>
