{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="home relative flex flex-col items-center mb-10">
        <div class="home-picture">
            <div class="home-slogan">Bienvenue sur SnowTricks</div>
            <a href="#tricks" class="arrow">
                <i class="fa-solid fa-circle-arrow-down fa-3x "></i>
            </a>
        </div>
        <div id="tricks" class="flex flex-row flex-wrap justify-center gap-6 my-10">

            {% for trick in tricks %}

                {#                <div href="#" class="trick"> #}
                {#                    <img src="{{asset("assets/images/testsnowtricks.jpg")}}" alt=""> #}
                {#                    <div class="trick-information"> #}
                {#                        {% set maxLength = 10 %} #}
                {#                        {% if trick.name|length >= maxLength %} #}
                {#                            {% set trickname = trick.name|slice(0, maxLength) ~'...' %} #}
                {#                        {% else %} #}
                {#                            {% set trickname = trick.name %} #}
                {#                        {% endif %} #}

                {#                        <a href="{{path("app.tricks_show_one", {id: trick.id})}}" class="trick-name">{{trickname}}</a> #}
                {#                        <div class="btn-container"> #}
                {#                            <a href="{{path("app.tricks_edit", {id: trick.id})}}"> #}
                {#                                <i class="fa-solid fa-pencil"></i> #}
                {#                            </a> #}
                {#                            <a href="{{path("app.tricks_delete", {id: trick.id})}}"> #}
                {#                                <i class="fa-solid fa-trash-can"></i> #}
                {#                            </a> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                </div> #}

                {#                <div class="trick border-2 border-red-500"> #}
                {% set maxLength = 15 %}
                {% if trick.name|length >= maxLength %}
                    {% set trickname = trick.name|slice(0, maxLength) ~'...' %}
                {% else %}
                    {% set trickname = trick.name %}
                {% endif %}
                <div class="card w-[350px] bg-base-100 shadow-xl rounded-lg">
                    <figure><img src="{{ asset("assets/images/testsnowtricks.jpg") }}" alt="Shoes" class="w-full"/>
                    </figure>
                    <div class="card-body p-4 flex flex-row justify-between items-center">
                        <a href="{{ path("app.tricks_show_one", {slug: trick.slug}) }}"
                           class="card-title hover:text-white">{{ trickname }}</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="card-actions justify-end mt-1">
                                <a href="{{ path("app.tricks_edit", {slug: trick.slug}) }}" title="Modifier le trick"
                                   class="btn btn-success btn-sm text-sm hover:bg-green-500 text-gray-700 hover:text-white">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a href="{{ path("app.tricks_delete", {slug: trick.slug}) }}" title="Supprimer le trick"
                                   class="btn btn-error btn-sm text-sm hover:bg-red-500 text-gray-700 hover:text-white">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {#                    </div> #}
            {% endfor %}



        </div>
        {% if tricks|length > 10 %}
            <button class="btn">Charger plus</button>
        {% endif %}
        {% if tricks|length > 15 %}
            <a href="#tricks" class="arrow absolute bottom-0 right-10">
                <i class="fa-solid fa-circle-arrow-up fa-3x text-base-300 hover:text-blue-500"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}
