{% extends "admin.html.twig" %}

{% block title %}
    Gestion tricks
{% endblock %}

{% block body %}

    <div class="relative overflow-x-auto flex items-center justify-center flex-1 flex-col mt-10 mb-20">
        <h1 class="mb-10 text-xl">Gérer les catégories</h1>
        <table class="text-sm text-left text-gray-500 dark:text-gray-400 w-9/12 bg-white rounded-xl">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 w-6/12 rounded-tl-lg">
                    Nom
                </th>
{#                <th scope="col" class="px-6 py-3 w-3/12">#}
{#                    Auteur#}
{#                </th>#}
                <th scope="col" class="px-6 py-3 w-3/12">
                    Création
                </th>
                <th scope="col" class="px-6 py-3 w-3/12">
                    Modification
                </th>

                <th scope="col" class="px-6 py-3 w-3/12 rounded-tr-lg">
                    <span class="">Action</span>
                </th>
            </tr>
            </thead>
            <tbody class="">
            {% for category in categories %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 last:rounded-bl-lg last:rounded-br-lg">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white last:rounded-bl-lg">
                        {{ category.name|capitalize }}
                    </th>
{#                    <td class="px-6 py-4">#}
{#                        {{ trick.user.pseudo }}#}
{#                    </td>#}
                    <td class="px-6 py-4">
                        {{ category.createdAt|date("d/m/Y") }}
                    </td>
                    <td class="px-6 py-4">
                        {{ category.updatedAt|date("d/m/Y") }}
                    </td>

                    <td class="px-6 py-4 text-right flex gap-4 ">
                        <a href="{{ path("categories_edit", {slug: category.slug}) }}"
                           class="btn btn-sm btn-success hover:bg-green-500">Editer</a>
                        <a href="{{ path("categories_delete", {slug: category.slug}) }}"
                           class="btn btn-sm btn-error hover:bg-red-500">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th class="h-3"></th>
            </tr>

            </tbody>
        </table>
    </div>


{% endblock %}