{% extends 'admin.html.twig' %}

{% block title %}
	Création trick
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('imagesTrick') }}
{% endblock %}

{% block body %}

	<div class="tricks-create-container flex items-center justify-center flex-1">
		{{ form_start(form, {attr: {class: "w-[700px]"}}) }}
		<div class="mb-6">
			{{ form_label(form.name, "Titre", {"label_attr": {"class": "block mb-2 text-sm font-medium text-white dark:text-white"}}) }}
			{{ form_widget(form.name, {"attr": {"class": "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
			{{ form_errors(form.name) }}
		</div>
		<div class="mb-6">
			{{ form_label(form.category, "Catégorie", {"label_attr": {"class": "block mb-2 text-sm font-medium text-white dark:text-white"}}) }}
			{{ form_widget(form.category, {"attr": {"class": "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
			{{ form_errors(form.category) }}
		</div>
		<div class="mb-6">
			{{ form_label(form.mainImage, "Image principale", {"label_attr": {"class": "block mb-2 text-sm font-medium text-white dark:text-white"}, "attr": {"class": "custom-file-button"}}) }}
			{{ form_widget(form.mainImage, {"attr": {"class": "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
			{{ form_errors(form.mainImage) }}
		</div>
		<div class="col pt-2 pb-5 d-flex flex-column" id="newTrickImages">
			<button type="button" id="add-image" class="add_item_link btn btn-info" data-collection-holder-class="images">Ajouter une image</button>
			<ul class="images mt-2" data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
				{% for image in form.images %}{% endfor %}
			</ul>


		</div>

		<div class="mb-6">
			{{ form_label(form.description, "Description", {"label_attr": {"class": "block mb-2 text-sm font-medium text-white dark:text-white"}}) }}
			{{ form_widget(form.description, {"attr": {"class": "h-[250px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
			{{ form_errors(form.description) }}
		</div>


		<input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}">

		<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
			Créer
		</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
