{% extends "base.html.twig" %}

{% block body %}

	<div class="register-container flex items-center justify-center flex-1 flex-col ">


		<div class="w-full max-w-sm bg-base-100 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<div class="flex justify-end px-4 pt-4">
				<button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-base-300 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
					<span class="sr-only">Open dropdown</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 16 3">
						<path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
					</svg>
				</button>
				<!-- Dropdown menu -->
				<div id="dropdown" class="z-10 hidden text-base list-none bg-base-300 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
					<ul class="py-2" aria-labelledby="dropdownButton">
						<li>
							<a href="{{path("app.edit_profile", {id: app.user.id})}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-base-100 dark:hover:bg-gray-600 text-white">Editer</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="flex flex-col items-center pb-10">
				{% if user.profileImage %}
					<img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover" src="{{asset("upload/profile/" ~ user.profileImage)}}" alt="Photo de profil de {{user.pseudo}}"/>
				{% else %}
					<img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover" src="{{asset("assets/images/default-profile.jpg")}}" alt="Photo de profil par défault"/>
				{% endif %}
				<h5 class="mb-1 text-xl font-medium text-white">{{user.pseudo}}</h5>
				{% if user.age %}
					<span class="text-sm text-gray-500 dark:text-gray-400">{{user.age}}
						ans</span>
				{% endif %}


			</div>
		</div>

	</div>


</div>{% endblock %}
